@mixin doFlex() {
    display: flex;
    flex-direction: column;
}
.card-List{
    //@include doFlex();
    background-color: black;
    & > *:not(:last-child){
        background-color:yellow;
    }
}