<h1 class="mat-h1">Hello, world.</h1>
<h2 class="mat-h2">An Adaptable Foundation.</h2>

<mat-card fxLayout="row wrap" 
          fxLayoutGap="32px" 
          fxLayoutAlign="flex-start" 
          fxLayout.lt-sm="column">
    <div  fxFlex="100%" 
          gdAreas="one two three"
          gdGap="30px"
          gdRows="auto"
          gdAreas.lt-md="one | two | three"
          gdRows.lt-md="auto">
                <div gdArea="one">
                  <h1 class="mat-overline">OVERLINE</h1>
                  <h6 class="mat-h6">Headline 6</h6>
                  <h1 class="mat-body-2">Apparently we had reached a great height in the atmosphere, for the sky was a dead black, and the stars had ceased to twinkle. By the same illusion which lifts the horizon of the sea to the level of the spectator on a hillside, the sable cloud beneath was dished out, and the car seemed to float in the middle of an immense dark sphere, whose upper half... </h1>
                </div> 
                <div gdArea="two">
                  <h4 class="mat-h4">Headline 4</h4> 
                  <h5 class="mat-h5">Headline 5</h5>
                  <h1 class="mat-body-2">By the same illusion which lifts the horizon of the sea to the level of the spectator on a hillside, the sable cloud beneath was dished out, and the car seemed to float in the middle of an immense dark sphere, whose upper half was... </h1>
                </div>
                <div gdArea="three">
                  <h1 class="mat-body-1">Body-1</h1>
                  <h1 class="mat-caption">Caption</h1>
                  <h1 class="mat-body-2">By the same illusion which lifts the horizon of the sea to the level of the spectator on a hillside, the sable cloud beneath was dished out... </h1>
                </div>
    </div>
</mat-card>

<h1 class="mat-h1">H1 / Raleway ExtraLight</h1>
<h2 class="mat-h2">H2 / Raleway ExtraLight</h2>
<h3 class="mat-h3">H3 / Raleway Regular</h3>
<h4 class="mat-h4">H4 / Raleway Regular</h4>
<h5 class="mat-h5">H5 / Raleway Regular</h5>
<h6 class="mat-h6">H6 / Raleway Medium</h6>
<p class="mat-body-1">Body 1 / Raleway Regular </p>
<p class="mat-body-2">Body 2 / Raleway Regular </p>
<p class="mat-subtitle-1">Subtitle 1 / Raleway Regular</p> 
<p class="mat-subtitle-2">Subtitle 2 / Raleway Medium </p>
<p class="mat-button-custome">BUTTON / RALEWAY MEDIUM</p>
<p class="mat-caption">Caption / Raleway Regular </p>
<p class="mat-overline">OVERLINE / MEDIUM</p>