<mat-toolbar color="accent">
    <button mat-raised-button color="warn" [matMenuTriggerFor]="menu">Opciones</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item><a routerLink="/grid">GridTest</a></button>
      <button mat-menu-item><a routerLink="/flex">FlexLayoutTest</a></button>
    </mat-menu>
</mat-toolbar>
<router-outlet></router-outlet>