<mat-card [ngClass]="'card-List'" fxLayout="row wrap" fxLayoutGap="32px" fxLayoutAlign="flex-start" fxLayout.lt-sm="column">
        <mat-card fxFlex="0 1 calc(33.3% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)"
        fxFlex.lt-sm="100%" *ngFor="let user of users">
          <div 
            gdAreas="name lastname | age phone | address address"
            gdGap="30px"
            gdRows="auto "
            gdAreas.lt-md="name | lastname | age | phone | address"
            gdRows.lt-md="auto">  
            <div gdArea="name">
              {{user.name}}
            </div> <div gdArea="lastname">
              {{user.lastname}}
            </div><div gdArea="age">
              {{user.age}}
            </div> <div gdArea="phone">
              {{user.phone}}
            </div>  <div gdArea="address">
              {{user.address}}
            </div>  
          </div>
        </mat-card>
    </mat-card>