@import '~@angular/material/theming';
//Define my own color palette 
$mt-my-theme: (
    50 : #990000,
    100 : #274e13,
    200 : #0b5394,
    300 : #134f5c,
    400 : #f1c232,
    500 : #674ea7,
    600 : #3d85c6,
    700 : #783f04,
    800 : #20124d,
    900 : #e06666,
    A100 : #ffffff,
    A200 : #daffcd,
    A400 : #b4ff9a,
    A700 : #a1ff80,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
$custom-typography: mat-typography-config(
  $font-family: 'Raleway',
  $headline:      mat-typography-level(97.54px, 97.54px, 100, null, -1.5px),
  $title:         mat-typography-level(60.96px, 60.96px, 200, null, -0.5px),
  $subheading-2:  mat-typography-level(48.67px, 48.67px, 300,null, 0px),
  $subheading-1:  mat-typography-level(34.48px, 34.48px, 300,null, 0.25px),
  $h5:            mat-typography-level(24.34px, 24.34px, 400, null),
  $h6:            mat-typography-level(20.24px, 20.24px, 500, null, 0.25px),
  $body-1:        mat-typography-level(16.22px, 28px, 400, null,0.5px),
  $body-2:        mat-typography-level(14.20px, 20px, 400, null, 0.25px),
  $caption:       mat-typography-level(12.15px, 16px,500,null, 0.4px),
  $button:        mat-typography-level(14.17px, 16px, 500, null, 1.25px),
  $subtitle-1:    mat-typography-level(16.22px, 24px, 400, null, 0.15px),
  $subtitle-2:    mat-typography-level(14.17px, 24px, 500, null, 0.1px),
  $overline:      mat-typography-level(12.15px, 16px, 500, null, 1px),
);
*{
    color: #444a51;
}
//include mat-core for have access to material-palette features
@include mat-core($custom-typography);

$my-own-theme-primary: mat-palette($mt-my-theme,400);
$my-own-theme-accent: mat-palette($mt-my-theme,100);
$my-own-theme-warn: mat-palette($mt-my-theme,50);

$my-own-theme: mat-light-theme($my-own-theme-primary,$my-own-theme-accent,$my-own-theme-warn);

@include angular-material-theme($my-own-theme);